{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    {% if category%}
    <title> Personal Gallery - {{category}} </title>
    {% else %}
    <title> Kiprotich Amos Koech </title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/photo.css' %}">
    
    {% endblock %}

</head>
<body>
    
    {% include "navbar.html" %}
    {% block content %} <h1 class='text-center'> {{news.news}}</h1> {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
    <!-- Footer -->

<footer class="page-footer font-small special-color-dark pt-4",style="background: linear-gradient(141deg,#056b5b 35%,#9dd85c 103%);">
    <!-- Footer Elements -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css",link rel="stylesheet" href="{% static 'css/photo.css' %}">
    <div class="container" >
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/Anthony Martial Sanji" class="fa fa-facebook"></a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/amoskipz" class="fa fa-github"></a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/kiprotich Amos koech" class="fa fa-twitter"></a>
        </li>
        
      </ul>
      <!-- Social buttons -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://github.com/amoskipz/Gallery">Kiprotich Amos Koech </a>
    </div>
    <!-- Copyright -->
  
  </footer>

</html>